<h3> View Tour Details</h3>
<div>
    <div>
        <label> <b> FirstName: </b></label> {{tour.firstName}}
    </div>
    <div>
        <label> <b> SecondName: </b></label> {{tour.secondName}}
    </div>
    <div>
        <label> <b> ThirdName: </b></label> {{tour.thirdName}}
    </div>
    <div>
        <label> <b> TellNumber: </b></label> {{tour.tellNumber}}
    </div>
    <div>
        <label> <b> visitName: </b></label> {{tour.visitName}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{tour.age}}
    </div>
</div>