<div>
    <h1 style="text-align: center; color: rgb(171, 147, 147); font-size: 40px;">TOURS AND PRICES TO VISITS</h1>
</div>
<div class="gallery">
    <img src="/assets/Images/J5.jpeg" >
    <h3 class="desc">JOZANI FOREST TOURS - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/ch2.jpeg" >
    <h3 class="desc">PRISON ISLAND - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/MK2.jpeg" >
    <h3 class="desc">SALAAM CAVE SWIMMING - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/N5.jpeg" >
    <h3 class="desc">NAKUPENDA SANDBANK - PRICE $20</h3>
</div>
<div class="gallery">
<img src="/assets/Images/SP1.jpeg" >
    <h3 class="desc">SPICE FARMS TOUR - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/san1.jpeg" >
    <h3 class="desc">SUNSET DHOW CRUISES - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/MP1.jpeg" >
    <h3 class="desc">MWANGA PWANI CAVE - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/Kiwengwa.jpeg" >
    <h3 class="desc">KIWENGWA CAVE - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/ST4.jpeg" >
    <h3 class="desc">OLD TOWN ZANZIBAR - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/ch4.jpeg" >
    <h3 class="desc">PRISON ISLAND BEACH</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/foro1.jpeg" >
    <h3 class="desc">FORODHANI SEAFOOD - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/CHUMBE.jpeg" >
    <h3 class="desc">CHUMBE ISLAND TOURS - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/MK1.jpeg" >
    <h3 class="desc">KIZIMKAZI DOLPHIN - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/PAJE.jpeg" >
    <h3 class="desc">PAJE BEACH TOUR - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/MK3.jpeg" >
    <h3 class="desc">CAVE SWIMMING - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/matemwe3.jpeg" >
    <h3 class="desc">MATEMWE BEACH - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/matemwe1.jpeg" >
    <h3 class="desc">QUAD BIKING - PRICE $20</h3>
</div>
<div class="gallery">
    <img src="/assets/Images/matemwe2.jpeg" >
    <h3 class="desc">MNEMBA BEACH - PRICE $20</h3>
</div>
