<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center">Create Tour</h3>
        <hr />
        <div class="card-body">
          <form [formGroup]="formGroup">
  
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" />
            </div>
  
            <div class="form-group">
              <label>Second Name</label>
              <input type="text" class="form-control" id="secondName" formControlName="secondName" />
            </div>
  
            <div class="form-group">
              <label>Third Name</label>
              <input type="text" class="form-control" id="thirdName"  formControlName="thirdName" />
            </div>
  
            <div class="form-group">
              <label>Tell Number</label>
              <input type="text" class="form-control" id="tellNumber"  formControlName="tellNumber" />
            </div>
  
            <div class="form-group">
              <label>Visit Name</label>
              <input type="text" class="form-control" id="visitName"  formControlName="visitName" />
            </div>
  
            <div class="form-group">
              <label>Age</label>
              <input type="text" class="form-control"  formControlName="age" />
            </div>
  
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  