
<div>
    <h1 style="text-align: center; color: rgb(171, 147, 147); font-size: 40px; ">WELCOME ZANZIBAR <BR>(HAKUNA MATATA)</h1>
    </div>
<div class="gallery">
    <a routerLink="detail">
      <img div class="one"  src="/assets/Images/J5.jpeg" alt="Cinque Terre" width="600px" height="400px">
    </a>
    <h3 div class="desc">JOZANI FOREST TOURS</h3>
  </div>
  
  <div class="gallery">
    <a routerLink="detail">
      <img div class="one"  src="/assets/Images/ch2.jpeg" alt="Forest" width="600px" height="400px">
    </a>
    <h3 div class="desc">PRISION ISLAND </h3>
  </div>
  
  <div class="gallery">
    <a  routerLink="detail">
      <img div class="one" src="/assets/Images/MK2.jpeg" alt="Northern Lights" width="600px" height="400px">
    </a>
    <h3 div class="desc">SALAAM CAVE SWIMMING</h3>
  </div>
  
  <div class="gallery">
    <a routerLink="detail">
      <img div class="one" src="/assets/Images/N5.jpeg" alt="Mountains" width="600px" height="400px">
    </a>
    <h3 div class="desc">NAKUPENDA SANDBANK</h3>
  </div>
  <div class="gallery">
    <a routerLink="detail">
      <img div class="one" src="/assets/Images/SP1.jpeg" alt="Mountains" width="600px" height="400px">
    </a>
    <h3 div class="desc">SPICE FARMS TOUR </h3>
  </div>
  <div class="gallery">
    <a routerLink="detail">
      <img div class="one" src="/assets/Images/san1.jpeg" alt="Mountains" width="600px" height="400px">
    </a>
    <h3 div class="desc">SUNSET DHOW CRUISES</h3>
  </div>
  <div class="gallery">
    <a routerLink="detail">
      <img div class="one" src="/assets/Images/MP1.jpeg" alt="Mountains" width="600px" height="400px">
    </a>
    <h3 div class="desc">MWANGA PWANI CAVE</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/Kiwengwa.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">KIWENGWA CAVE</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/ST4.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">OLD TOWN ZANZIBAR</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/ch4.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">PRISON ISLAND BEACH </h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/foro1.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">FORODHANI SEAFOOD</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/CHUMBE.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">CHUMBE ISLAND TOURS</h3>
    </div>
    <div class="vid">

    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/MK1.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">KIZIMKAZI DOLPHIN</h3>
    </div>
    <div class="vid">
      <div class="gallery">
        <a routerLink="detail">
          <img div class="one" src="/assets/Images/PAJE.jpeg" alt="Mountains" width="600px" height="400px">
        </a>
        <h3 div class="desc">PAJE BEACH TOUR</h3>
      </div>
   
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/MK3.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">CAVE SWIMMING</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/matemwe3.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">MATEMWE BEACH</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/matemwe1.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">QUAD BIKING</h3>
    </div>
    <div class="gallery">
      <a routerLink="detail">
        <img div class="one" src="/assets/Images/matemwe2.jpeg" alt="Mountains" width="600px" height="400px">
      </a>
      <h3 div class="desc">MNEMBA BEACH</h3>
    </div>
    
  