<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> FirstName</label>
                        <input type="text" class="form-control" id="firstName" >
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label> secondNameName</label>
                        <input type="text" class="form-control" id="lastName" >
                           
                    </div>

                    <div class="form-group">
                        <label>ThirdName</label>
                        <input type="text" class="form-control" id="thirdName" name="thirdName" />
                      </div>
            
                      <div class="form-group">
                        <label>TellNumber</label>
                        <input type="text" class="form-control" id="tellNumber"  name="tellNumber" />
                      </div>
            
                      <div class="form-group">
                        <label>Visit Name</label>
                        <input type="text" class="form-control" id="visitName" name="visitName" />
                      </div>
            
                      <div class="form-group">
                        <label>Age</label>
                        <input type="text" class="form-control" id="age" name="age" />
                      </div>
                        
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
